<a href="https://colab.research.google.com/github/cmyhre2/CS150_Spring2025/blob/Class-Notebooks/Chapter3ClassNB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## What We Looked At Recently
* We looked at basic operations in Python like the **print** function.
* We explained what **variables** are in programming.
* We looked at basic data types in Python such as **strings**.

## What We'll Look At In This Module
* This module introduces **lists**, which are a pivotal collection structure in Python.
* In addition, some important terminology in Python is clarified, including with regards to **functions** and **methods**.

## Limitations of Atomic Data Types

So far we have seen variables being used to represent _atomic_ elements (a single string, single number, etc.)<br>
But suppose a teacher needs to store a large number of student grades.

In [ ]:
student1_grade = 92
student2_grade = 81
student3_grade = 74
#student4_grade = ...

## Collection Structures
* Python provides us with a number of built-in **collection** structures, which are used specifically to manage a number of related elements.  
* We first take a look at an elementary collection structure called the **list**.  
* Later we will take a look at _Tuples_, _Sets_, and _Dictionaries_, which are distinct collection structures with their own qualities.

In [ ]:
#In general, working with a single variable that references a collection is easier than separate variables.
student_grades = [92, 81, 74, 60, 44, 89, 88, 96, 78, 74]
print(student_grades[3])
print(student_grades[6])

60
88

* The standard way to construct lists is by using **square brackets**.

![image.png](attachment:image.png)

In [ ]:
mylist = ['P','R','O','G','R','A','M','M','I','N','G']
#Python uses zero-based indexing, which means the initial element in the list (P) may be referenced using an index of 0.
print(mylist[0])

P

### Lists do not have to contain a uniform data type. The example below contains a string, a character, and a number.

In [ ]:
mylist2 = ['Home',4,'R']

### List elements are often used within other expressions.

In [ ]:
item_prices = [11, 1, 9]; item_names = ['hammers','drill bits', 'wrench']

In [ ]:
#The following expression may be a bit overwhelming -- let's walk through it!
print('Buying 20 ' + str(item_names[1]) + ' will cost you about $' + str(item_prices[1])*20)

Buying 20 drill bits will cost you about $11111111111111111111

## Practice 1: Acquaintances
* Store the names of three people you know in a list called _names_.
* Create a second list called _yearsknown_ which includes the number of years you have known each person in _names_.
* Using one print statement per person, display a sentence of the form "I have known _____ for _____ years."

In [ ]:
names = ['Johny', 'Jane', 'Jack']

In [ ]:
yearsknown = [1, 2, 3]

## A Side Note: Functions and Methods
Thus far, we have interchangeably used terms like "operation", "function", and "method".  It's time to clarify the definition of a few of these things.
* A **function** is a set of statements that perform a specific task.  It _may_ take **input arguments** (something being used to perform the task) and it _may_ provide **output arguments** (usable results of the task).  It is invoked without a preceding reference/variable.
* A **method** is a function that is **explicitly associated with a Python object.** It must be invoked with a preceding reference/variable using the **.** symbol.
* An **operation** refers to _any_ of the following: ii. using a function iii. using a method iii. a calculation using a standard operator like **+**, **-**, etc.
* Later we will write our own functions (and possibly methods), but for now these definitions should be good enough to keep us on track.

In [ ]:
#print is a FUNCTION we are quite familiar with by now.
mystr = 'Hello world!'
print(mystr)

Hello world!

In [ ]:
#We previously saw several string METHODS, such as .upper()
print(mystr.upper())

HELLO WORLD!

In [ ]:
#We've also seen several built-in operations that are neither function nor method, like concatenation using +
mystr = mystr + ' How are you today?'
print(mystr)

Hello world! How are you today?

## Changing, Adding, and Removing Elements

### Single elements can be changed using  standard indexing

In [ ]:
print(student_grades)

[92, 81, 74, 60, 44, 89, 88, 96, 78, 74]

In [ ]:
student_grades[2] = 72
student_grades[-1] = 84

In [ ]:
print(student_grades)

[92, 81, 72, 60, 44, 89, 88, 96, 78, 84]

### We can add to the end of the list using method `append`, which takes as an argument the item to add at the end.

In [ ]:
student_grades.append(100)

### But we may also want to add in the middle of the list using method `insert`, which takes _two_ arguments: i. the first is the position at which to add the element ii. the second is the item to add.

In [ ]:
student_grades.insert(2, 80)

### We have several ways to remove elements from a List
* `pop` is a method that removes the item at the **position** provided as an argument.
* `remove` is a method that will remove the first instance that matches the **item** provided as an argument.
* `del` is a _function_ that effectively deletes any given object in Python.  **Be careful with this one!**

In [ ]:
student_grades.pop(2)

80

In [ ]:
student_grades.remove(84)

In [ ]:
del student_grades[-1]

## Practice 2: Creating a Travel Wish List (part a)
* Create an empty list called `travel_wishlist`.
* Add three locations around the world you’d like to visit using `append`.
* After they are all added, use three print statements to write out why you want to visit each one in turn.

In [ ]:
travel_wishlist = []

In [ ]:
travel_wishlist.append('New York')
travel_wishlist.append('Paris')
travel_wishlist.append('Tokyo')

In [ ]:
print('I would love to see', travel_wishlist[0], 'for the views')
print('I would love to see', travel_wishlist[1], 'for the views')
print('I would love to see', travel_wishlist[2], 'for the views')

I would love to see New York for the views
I would love to see Paris for the views
I would love to see Tokyo for the views

### Changing the Wish List (part b)
* Modify your list by replacing one of the locations with an alternative one (assume you have changed your mind about one)
* Print a second set of messages.  For "old" locations on your list, indicate you still wish to visit them.  For the "new" location, indicate why you want to visit that one.

In [ ]:
print('While I still want to see', travel_wishlist[0], 'for the views')
travel_wishlist[0] = 'London'
print('I would love to see', travel_wishlist[0], 'for the views')

While I still want to see New York for the views
I would love to see London for the views

### Emptying the Wish List (part c)
* Use pop(), remove(), and del() (one time each!) to empty your wish list, indicating you have visited each place in turn.
* NOTE: the order in which you use these commands may impact how to use them correctly!
* Print the final list to verify it is empty as expected.

In [ ]:
del travel_wishlist[0]

In [ ]:
travel_wishlist.remove('Paris')

In [ ]:
travel_wishlist.pop()

'Tokyo'

### Mutable and Immutable Collections
* Lists are **mutable**.  We can change a list object's elements after creation.
* Many other Python data types -- such as the String, are **immutable**. If we want different elements, we must create a new string!

In [ ]:
mynewlist = [10,2,30]
mystring = 'hello'

### Appending to a List with `extend`
* Lists can grow dynamically to accommodate multiple new items using the `extend` method.
* When using `extend` in this context, the argument must itself be a collection we can iterate through.  Otherwise a `TypeError` occurs.

In [ ]:
char_list = ['a','b','c']; num_list = [1, 2, 3]
char_list.extend(num_list)

## Practice 3: Merging a list of activities
* Make a list of activities you want to do _this_ weekend.
* Make a second list of activities you want to do _next_ weekend.
* Use extend to combine your lists.
* Print the combined list with a single print statement to verify the action worked correctly.

In [ ]:
activities1 = ['video games', 'board games','YouTube']

In [ ]:
activities2 = ['hiking','gambling', 'skydiving']

In [ ]:
activities1.extend(activities2)

## Organizing a List

### Sorting a List Permanently with the `sort()` Method

In [ ]:
list_to_sort1 = [5, 10, 25, 1, 15, 20]

In [ ]:
list_to_sort1.sort()
list_to_sort1

[1, 5, 10, 15, 20, 25]

In [ ]:
print(list_to_sort1.sort())

None

### Sorting a List Temporarily with the `sorted()` Function

In [ ]:
list_to_sort2 = ['banana', 'orange','strawberry','apple']

In [ ]:
list_to_sort2 = sorted(list_to_sort2)
list_to_sort2

['apple', 'banana', 'orange', 'strawberry']

### Permanently reversing a list using the `reverse` method

In [ ]:
list_to_sort1.reverse()
list_to_sort1

[25, 20, 15, 10, 5, 1]

## Practice 4: Months of the Year
* Store the months of the year in a list variable by **chronological order** (January first, December last).  You may use the full name or abbreviations ('Jan' for January, etc.)
* Print the list of months in the following formats: **sorted (alphabetical) order**, **reverse chronological order**, **reverse sorted (alphabetical) order**
#### Note: the order in which you apply the relevant operations and print the corresponding lists is important!

In [ ]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [ ]:
months.reverse()
months

['December',
 'November',
 'October',
 'September',
 'August',
 'July',
 'June',
 'May',
 'April',
 'March',
 'February',
 'January']

In [ ]:
months = sorted(months)
months

['April',
 'August',
 'December',
 'February',
 'January',
 'July',
 'June',
 'March',
 'May',
 'November',
 'October',
 'September']

In [ ]:
months.reverse()
months

['September',
 'October',
 'November',
 'May',
 'March',
 'June',
 'July',
 'January',
 'February',
 'December',
 'August',
 'April']

### List Indices Must Be Integers or Integer Expressions
* You can use any arithmetic, function(s), etc. in the subscription, but it must evaluate to an _integer_.
* The exceptions are slices (which we'll see in module 4), but even then, each of _their_ components must evaluate to an integer or be omitted.
* Using other expressions for indices (decimals, lists, etc.) will result in a `TypeError`

In [ ]:
c = [-45, 6, 0, 72, 1543]
a = 10
b = 7

In [ ]:
print(c[a - b])

72

In [ ]:
print(c[(a//b)])

6

In [ ]:
print(c[a-b+1])

1543

In [ ]:
mylist1 = [2,4,6,8,10,12]
mylist2 = ['a', 'b', 'c']
print(mylist1[mylist2])

TypeError: list indices must be integers or slices, not list

### Comparison Operators and Lists
* List equality `==` compares list elements one-by-one -- if all match, than the expression evaluates to true.
* Can be done with some other operators (`>`, `<`, etc.) , but the details are a bit tricky.

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
c = [1, 2, 3, 4]
d = [1, 5, 10]

In [ ]:
print(1+2 == 3)
print(1*2 == 3)

True
False

In [ ]:
print(a == b)
print(a == c)
print(a == d)

True
False
False

### Accessing Valid Elements
* The `len` function returns the number of elements in a list.
* Important: if a list has **n** elements, only indices **0** to **n-1** are valid.
* Accessing an invalid index (e.g. one larger than the size) returns a `list index of range` error.

In [ ]:
numbers=[10,30,45,9,100,12]

In [ ]:
len(numbers)

6

In [ ]:
numbers[-1]

12

### Basic Statistics Applied to Lists
- `min`, `max`, and `sum` are all Python functions that can be applied to lists.
- Note 1: The behavior of these functions varies depending upon the types of elements involved.
- Note 2: these are **functions** precisely because they can also be applied to other collection types as well.

In [ ]:
mylistofgrades = [90, 85, 70, 92, 91]
mylistofgrades

[90, 85, 70, 92, 91]

In [ ]:
max(mylistofgrades)

92

In [ ]:
min(mylistofgrades)

70

In [ ]:
sum(mylistofgrades)/len(mylistofgrades)

85.6

In [ ]:
names = ['Angela', 'Abigail', 'Yohan', 'Jason']

In [ ]:
max(names)

'Yohan'

In [ ]:
min(names)

'Abigail'

In [ ]:
names.sort()
names

['Abigail', 'Angela', 'Jason', 'Yohan']

## Practice 5: Some More Statistics
* Create a list containing the temperature highs for the past week.
* Compute and print the _min_, _max_ and _sum_ of these temperature highs.
* Compute and print the _range_ in the temperature highs, which is defined as the difference between the minimum and maximum.
* Compute and print the _mean_ (average) of temperature highs over the past week.
#### Note that the last two calculations may require a little bit of thought.

In [ ]:
temps_high = [32, 28, 29, 40, 55, 45, 51]
range = max(temps_high) - min(temps_high)
mean = sum(temps_high) / len(temps_high)
print(min(temps_high),
max(temps_high),
sum(temps_high), range, mean)

28 55 280 27 40.0

## Nested Lists
* It's entirely possible to have **Lists of Lists** in Python.
* These are typically called **nested lists** and they are often used to further organize collections of information.
* There is nothing particularly unique about nested lists, but they can take some getting used to in terms of operation.

In [ ]:
Employees = [['Alex Connors', 'Emily Talesin', 'Pat Callums'],['Finances', 'Research', 'Research'],[6,4,1]]

In [ ]:
len(Employees[0])

3

In [ ]:
Employees[2].index(1)

2

In [ ]:
print(Employees[0][2],
Employees[1][2],
Employees[2][2])

Pat Callums Research 1

### Copying a List
* Using simple assignment of one variable to another (e.g. `x=y`) **does not duplicate the elements within a collection (e.g. a list)**.
     * Any modifications to one collection will be reflected in the other.
* The `copy()` method creates a **shallow copy** that DOES duplicate all embedded objects.
     * Note that objects embedded WITHIN the initial layer of objects (e.g. lists within a list) are NOT duplicated.

In [ ]:
baselist_v1 =[1, 2, 3]
mylist = baselist_v1

In [ ]:
print(baselist_v1, mylist)

[1, 2, 3] [1, 2, 3]

In [ ]:
baselist_v2 =[1, 2, 3]
mylist2=baselist_v2.copy()

In [ ]:
print(baselist_v2, mylist2)

[1, 2, 3] [1, 2, 3]

## Arithmetic Operators and Lists
Arithmetic operators have **at least** three major uses when it comes to lists.
1. `+` can be used to concatenate two lists.
2. `*` can be used with an integer _n_ to **duplicate** a list _n_ times.
3. All the arithmetic operators (`+`,`-`, etc.) can be used in the context of **list comprehension**, which we will look at next module.

In [ ]:
nums1 = [1, 2, 3, 4]
nums2 = [5, 6, 7, 8]

## Practice 6: Duplication and Nested Lists
Using a few commmands, create a list that **contains** the following three lists, one-by-one:
1. A 20-element list alternating between 1s and 2s (i.e. [1, 2, 1, 2, etc.])
2. A 5-element list consisting entirely of 0s
3. A 30-element list containing the elements from the _first_ list bounded by five 0's on either side.

In [ ]:
nums1 + nums2

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
[1,2]*10

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [ ]:
[0]*5

[0, 0, 0, 0, 0]

In [ ]:
[0]*5 + [1,2]*10 + [0]*5

[0,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 0,
 0,
 0,
 0,
 0]